# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

assets/uni_bg.png
assets/robo.png
assets/uni_logo.png
assets/UOL_Robot_Animation_Layers.svg
assets/UOL_Robot_Animation_Layers-1.svg
assets/UOL_Robot_Animation_Layers-2.svg
assets/UOL_Robot_Animation_Layers-3.svg
assets/uol_robot.svg
